@tailwind base;
@tailwind components;
@tailwind utilities;
/* *{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
}
.inline{
display:inline-block;
}
img{
    width:203px;
}
#root{
    display:flex;
    flex-direction:column;
    height:100vh;
}

.nav{
    display: flex;
    justify-content: space-between;
    border:2px solid black;
    padding:5px;
    background-color:black;
    opacity:0.8; 
    color:white;
    align-items:center;
}
.nav-logo{
    width:150px;
    background-color:transparent;
}
.nav-items{
    list-style-type:none;
    display:flex; 
}
.nav-items li{
    margin:5px;
    border:2px solid white;
    padding:2px;
    border-radius:2px;
    text-decoration:none;
    color:white;
}

.Search-container{
    margin:10px;
}

.shimmer-restaurantlist
{
    margin:10px;
    display:flex;
    flex-wrap:wrap;
    box-shadow:0 0 3px 0 rgba(0,0,0,0.2);
    justify-content:space-between;
}
.shimmer-restaurantcard
{
    width:280px;
    padding:10px;
    border-radius:5px;
    margin:9px;
    box-sizing:border-box;
    
}
.shimmer-restaurantcard-img{
    width: 100%;
    background-color: gray;
    height: 163px;
    opacity: 0.6;
}
.shimmer-restaurantcard-bold-text
{
    width: 100%;
    background-color: gray;
    border-radius:20px;
    margin-top:2px;
    height: 10px;
    opacity: 0.3;
}
.shimmer-restaurantcard-light-text
{
    width: 100%;
    background-color: gray;
    border-radius:20px;
    margin-top:2px;
    height: 5px;
    opacity: 0.3;
}
.RestaurantDetails
{
    display:flex;
    justify-content:space-between;
}
.restaurantlist{
    margin:10px;
    display:flex;
    flex-wrap:wrap;
    box-shadow:0 0 3px 0 rgba(0,0,0,0.2);
    justify-content:space-between;
}
.restaurantcard
{
    width:280px;
    padding:10px;
    border-radius:5px;
    margin:9px;
    box-sizing:border-box;
    color:black;
    word-wrap: break-word;
}
.restaurantcard span{
    font-size:13px;
}
.restaurantcard:hover{
    cursor:pointer;
    box-shadow:0 0 20px 0 rgba(0,0,0,0.5);
}
.restaurantcard-img{
    width:100%; 
}
.MenuDetails{
    display:flex;
    padding:10px;
}
.footer{
    text-align:center;
    padding:10px;
    background-color:black;
    opacity:0.8; 
    color:white;
    margin-top:auto;
}

@keyframes shimmer {
    0% {
        transform: translateX(-100%);
      }
      50% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
  } */
