@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-height {
  height: calc(100vh - 355px);
}

.scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
